@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

@media (max-width:991px) {
    

    #container{

        width:100vw;




    }
    .watch,.global{

        width: 2.6666666667vw;
        height: 2.6666666667vw;

    }

    .firstPhoto{

        width: 13.9173333333vw;
        height: 8.2vw;
        margin-top: 2.6vw;
        margin-left: 5vw;
    }

    .global{

        margin-left: 9.333333333333334vw;
    }

    .history span{

        font-family: Roboto;

        width: 16.154666666666667vw;
        height: 3.976vw;
        font-size: 2.6666666666666665vw;
        display: inline-block;
        justify-content: space-between;
        margin-top: 11.893333333333333vw;



    }

    .head1{

        width: 78.03466666666667vw;
        height: 23.608vw;
        font-family: Roboto Slab;
        font-size: 9.866666666666667vw;
        margin-top:  2.1493333333333333vw; ;
        margin-left: 9.520000000000001vw;
    }
    .headerAbout{

        width: 56.64vw;
        height: 7.722666666666667vw;
        font-style: Roboto;
        font-weight: 400;
        font-size: 2.6666666666666665vw;
        margin-left: 9.530666666666667vw;


    }

    .photo1{

        /* display: flex; */
        /* flex-direction: row-reverse; */
        /* margin-right: 32.34px; */
        width: 39vw;
        position: relative;
        left: 27vw;
        height: 47vw;

    }

    .author-box{

        width: 60.096vw;
        height: 24.850666666666665vw;

        background-color: #1E4681;

        font-family: Roboto Slab;


        margin-left: 10.127999999999998vw;
        color: #ffffff;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 400;

        border-radius: 0.621296vw;





    }

    .headerAuthorWords{

        font-size: 2.933333333333333vw;
        margin: 2.3920000000000003vw 3.3573333333333335vw 8.418666666666667vw 3.2346666666666666vw;
        


    }

    .headerAuthorName{


        font-style: normal;
        font-weight: normal;

        line-height: 3.7333333333333334vw;
        width: 130,1.8666666666666667vw;

        height: 21,7.2vw;
        margin-left: 23.386666666666667vw;
        font-size: 2.6666666666666665vw;
        font-weight: 300;
    }

    .total{

        display: flex;
        justify-content: center;


    }

}

@media screen and (min-width:992px) and (max-width:1279px) {

    .total{

        display: flex;
        justify-content: center;

    }
    #container{


        width: 100vw;
        
    }

    .watch,.global{

        width: 1.5227817745803358vw;
        height: 1.5227817745803358vw;
    }

    .firstPhoto{

        width: 7.793764988009593vw;
        height: 4.580335731414869vw;
        margin-left: 5.393285371702637vw;
        margin-top: 2.6378896882494005vw;


    }

    .global{

        margin-left: 10.7vw;

    }

    .history span{

        font-family: Roboto;
        display: inline-block;
        justify-content: space-between;
        width: 9.02757793764988vw;
        height: 2.221822541966427vw;
        font-size: 1.4388489208633093vw;
        margin-top: 6.954436450839329vw;

    }

    .head1{

        width: 43.52517985611511vw;
        height: 13.189448441247002vw;
        font-family: Roboto Slab;
        font-size: 5.5155875299760195vw;
        margin-top: 0.8992805755395683vw;
        margin-left: 8.47242206235012vw;

        

    }

    .headerAbout{

        width: 31.654676258992804vw;
        height: 4.316546762589928vw;
        margin-left: 8.513189448441247vw;
        font-size: 1.4388489208633093vw;
        font-weight: 400;
        font-family: Roboto;

    }

    .photo1{

        display: flex;
        flex-direction: row-reverse;

        width: 21.103117505995204vw;
        height: 24.72182254196643vw;
        margin-right: 10.026378896882495vw;

        position: relative;
       




    }

    .author-box{


        background-color: #1E4681;
        font-family: Roboto Slab;
        border-radius: 0.34772182254196643vw;
        width: 33.57314148681055vw;
        height: 13.788968824940047vw;
        margin-left: 28.41726618705036vw;
        margin-top: 12.23021582733813vw;
        font-weight: 300;
        color: #ffffff;


    }

    .headerAuthorWords{

        width: 29.976019184652277vw;
        height: 7.793764988009593vw;

        font-family: Roboto Slab;
        font-size: 1.6786570743405276vw;
        font-style: normal;
        line-height: 2.158273381294964vw;
        letter-spacing: 0em;
        text-align: left;

        

    }
    .headerAuthor
    {

        padding-top: 2.3980815347721824vw;
        padding-left: 1.8081534772182255vw;



    }
    .headerAuthorName{

        width: 19.479616306954437vw;
        height: 3.1690647482014387vw;
        font-family: Roboto;
        font-size: 1.4388489208633093vw;
        padding: 1.0311750599520384vw 1.1270983213429258vw 0.5035971223021583vw 12.949640287769784vw;



    }

    .header{
        display: flex;
        justify-content: space-around;

        
        
    }


   
}


@media screen and (min-width:1280px)

{

    .total{

        display: flex;
        justify-content: center;

    }

    #container{


        width: 100vw;

        
    }

    .globe,.watch,.historyPaper{


        width: 1.5277777777777777vw;
        height: 1.5277777777777777vw;
    }


    .firstPhoto{


        width: 7.777777777777778vw;
        height: 4.583333333333333vw;
        margin-top: 2.4583333333333333vw;
        margin-left: 6.402777777777779vw;

    }

    .global{

        margin-left: 12.402777777777779vw;
    }


    .history span{

    font-family: Roboto;
    font-size: 1.3888888888888888vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5972222222222223vw;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
    position: relative;
    margin-top: 7.944444444444445vw;
    margin-left: 1.0833333333333335vw;

    width: 130px;
    height: 32px;



    }

    .head1{



        font-family: Roboto Slab;
        font-size: 5.555555555555555vw;
        font-style: normal;
        font-weight: 700;
        line-height: 5.625vw;
        letter-spacing: 0em;
        text-align: left;
        width: 43.611111111111114vw;
        height: 13.194444444444445vw;
        margin-left: 8.472222222222221vw;

    }

    .headerabout{


        width:28.75vw;
        height: 4.305555555555555vw;
        margin-left: 8.472222222222221vw;
    }

    .photo1{

        display: flex;
        justify-content: flex-end;
        width: 21.11111111111111vw;
        height: 24.72222222222222vw;
        position: relative;
        margin-left: 9.722222222222221vw;

    }
    .header{


        display: flex;
        justify-content: space-around;
    }

    .author-box{


        width: 33.541666666666664vw;
        height: 13.88888888888889vw;
        background: #1E4681;
        margin-left: 28.429861111111112vw;

        color: #ffffff;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 400;

        border-radius: 0.3472222222222222vw ;

        margin-top: 12.291666666666666vw;
    }
    .headerAbout{

        width: 28.75vw;
        height: 4.305555555555555vw;

        font-weight: 400;
        font-size: 1.3888888888888888vw;
        margin-left: 8.472222222222221vw;
        margin-top: -4.861111111111111vw;



    }
    
    .headerAuthorWords{
        height: 7.847222222222222vw;
        width: 29.901979234483505vw;
        padding-left:1.8076388888888888vw;
        padding-top: 1.3375000000000001vw; 
        font-size:1.7361111111111112vw ;
    }

    .headerAuthorName{

        height: 3.1695455975002713vw;
        width: 19.47913063897027vw;
        font-family: Roboto;
        font-size: 1.3888888888888888vw;
        font-style: normal;
        font-weight: 400;
        padding-top: 1.5361111111111112vw;
        padding-left: 12.82013888888889vw;
        display: flex;
        justify-content: flex-end;
        


    }

    .total{


    display: flex;
    justify-content: center;
}





}