@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0px;
}

@media (max-width:991px) {
    .container {
        width: 100vw;
    }
    .section6 {
        width: 100vw;
        height: 96.8vw;
        background-color: #9DC9C8;
    }
    .sec6title {
        width: 59.733333333333334vw;
        height: 16.8vw;
        font-family: Roboto Slab;
        font-weight: 700;
        font-size: 6.933333333333334vw;
        padding-top: 16.533333333333335vw;
        padding-left: 9.333333333333334vw;
    }
    .sec6priceName {
        width: 21.066666666666666vw;
        height: 4vw;
        font-size: 3.2vw;
        padding-left: 9.333333333333334vw;
        padding-top: 5.954666666666666vw;
        font-family: Roboto;
    }
    .sec6price {
        width: 59.733333333333334vw;
        height: 9.333333333333334vw;
        font-family: Roboto;
        font-size: 9.866666666666667vw;
        padding-top: 0.9866666666666667vw;
        padding-left: 9.333333333333334vw;
    }
    .table {
        padding-top: 8.533333333333333vw;
    }
    .tablehead {
        /* display: inline-block;
        justify-content: space-between;
        height: 14px;
        box-sizing: border-box;
        width: 375px;
           ;*/
        font-size: 3.2vw;
        padding-left: 9.333333333333334vw;
        font-family: Roboto;
        font-weight: 400;
        display: flex;
    }
    .table3name1 {
        width: 31.466666666666665vw;
        height: 3.7333333333333334vw;
    }
    .table3name2 {
        width: 29.066666666666666vw;
        height: 3.7333333333333334vw;
        padding-left: 13.333333333333334vw;
    }
    .tableinfo {
        font-family: Roboto;
        font-size: 2.6666666666666665vw;
        font-style: normal;
        font-weight: 400;
        padding-left: 9.333333333333334vw;
        display: flex;
        padding-top: 1.3333333333333333vw;
    }
    .table3about1,
    .table3about2 {
        width: 36.8vw;
        height: 12.533333333333333vw;
    }
    .table3about2 {
        padding-left: 8.266666666666667vw;
    }
    .footer {
        width: 100vw;
        height: 66.93333333333334vw;
        background-color: black;
    }
    .photowhite1 {
        width: 14.290666666666667vw;
        height: 8.450666666666667vw;
    }
    .footerPic {
        width: 14.290666666666667vw;
        height: 8.450666666666667vw;
        padding-left: 10.4vw;
        padding-top: 6.213333333333333vw;
    }
    .socialApps img {
        width: 4.133333333333334vw;
        height: 4.133333333333334vw;
    }
    .socialApps {
        padding-top: 3.728vw;
        display: inline-block;
        padding-left: 10.346666666666666vw;
        flex-direction: row;
        display: flex;
    }
    .facebook,
    .social3,
    .social4 {
        margin-left: 2.933333333333333vw;
    }
    .contact-directions {
        font-family: 'Roboto', sans-serif;
        ;
        padding-top: 12.8vw;
        padding-left: 10.4vw;
        width: 39.51466666666666vw;
        height: 10.933333333333334vw;
    }
    .phone {
        width: 3.3546666666666667vw;
        height: 3.3546666666666667vw;
    }
    .contactmailphoto {
        width: 3.3546666666666667vw;
        height: 2.2373333333333334vw;
    }
    .contactNumber {
        color: white;
        width: 28.533333333333335vw;
        height: 4.8vw;
        font-size: 3.2vw;
        padding-left: 2.7333333333333334vw;
        /* padding-top: 3px; */
    }
    .contact-numberwithphoto {
        display: flex;
        font-family: Roboto;
    }
    .contactMailAdress {
        color: white;
        width: 33.42133333333334vw;
        height: 4.970666666666666vw;
        padding-left: 2.7333333333333334vw;
        font-size: 3.2vw;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        ;
        /* padding-top: 3px; */
    }
    .mailwithphoto {
        display: flex;
    }
    .copyright {
        width: 37.6vw;
        height: 5.066666666666666vw;
        color: white;
        font-size: 2.6666666666666665vw;
        margin-top: 13.066666666666666vw;
        margin-left: 10.4vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: normal;
    }
}

@media screen and (min-width:992px) and (max-width:1279px) {
    .container {
        width: 100vw;
    }
    .section6 {
        width: 100vw;
        height: 55.39568345323741vw;
        background-color: #9DC9C8;
    }
    .sec6title {
        width: 63.05515587529976vw;
        height: 4.583932853717026vw;
        font-family: Roboto Slab;
        font-weight: 700;
        font-size: 3.8369304556354917vw;
        padding-top: 13.599520383693045vw;
        padding-left: 8.47242206235012vw;
    }
    .sec6priceName {
        width: 11.805755395683454vw;
        height: 1.5023980815347722vw;
        font-family: Roboto;
        font-size: 1.6786570743405276vw;
        padding-left: 8.47242206235012vw;
        padding-top: 3.7494004796163067vw;
    }
    .sec6price {
        width: 26.258992805755394vw;
        height: 6.3549160671462825vw;
        font-family: Roboto;
        font-size: 5.5155875299760195vw;
        padding-left: 8.513189448441247vw;
        padding-top: 0.0407673860911271vw;
    }
    .table {
        padding-top: 4.44484412470024vw;
    }
    .tablehead {
        font-size: 1.6786570743405276vw;
        padding-left: 8.47242206235012vw;
        font-family: 'Roboto', sans-serif;
        ;
        font-weight: 500;
        display: flex;
    }
    .table3name1 {
        width: 20.41726618705036vw;
        height: 2.221822541966427vw;
    }
    .table3name2 {
        width: 22.360911270983213vw;
        height: 2.221822541966427vw;
        padding-left: 4.796163069544365vw;
    }
    .tableinfo {
        font-family: 'Roboto', sans-serif;
        font-size: 1.1990407673860912vw;
        font-style: normal;
        font-weight: 500;
        padding-left: 8.47242206235012vw;
        padding-top: 0.6247002398081535vw;
        display: flex;
    }
    .table3about1,
    .table3about2 {
        width: 20.41726618705036vw;
        height: 4.860911270983213vw;
    }
    .table3about2 {
        padding-left: 4.860911270983213vw;
    }
    .footer {
        width: 100vw;
        height: 27.083932853717027vw;
        background-color: black;
    }
    .photowhite1 {
        width: 7.985611510791366vw;
        height: 4.721822541966428vw;
    }
    .footerPic {
        width: 7.985611510791366vw;
        height: 4.721822541966428vw;
        padding-left: 8.47242206235012vw;
        padding-top: 2.8129496402877696vw;
    }
    .socialApps img {
        width: 2.3980815347721824vw;
        height: 2.3980815347721824vw;
    }
    .socialApps {
        width: 35.97122302158273vw;
        padding-top: 2.0839328537170263vw;
        padding-left: 8.47242206235012vw;
        display: flex;
    }
    .facebook,
    .social3,
    .social4 {
        margin-left: 1.498800959232614vw;
    }
    .contact-directions {
        color: white;
        font-family: Roboto;
        justify-content: flex-end;
        font-size: 1.6786570743405276vw;
    }
    .contactMailAdress {
        margin-left: 1.4388489208633093vw;
    }
    .rightandleft {
        display: flex;
        height: 11.990407673860911vw;
    }
    .rightside {
        padding-top: 3.597122302158273vw;
    }
    .mailwithphoto,
    .contact-numberwithphoto {
        display: flex;
    }
    .contactNumber {
        margin-left: 1.5275779376498801vw;
    }
    .copyright {
        padding-top: 10.191846522781775vw;
        color: white;
        margin-left: 8.47242206235012vw;
        font-size: 1.1990407673860912vw;
        font-family: Roboto;
    }
    .contactNumPic {
        padding-bottom: 1.7266187050359711vw;
    }
}

@media (min-width:1280px) {
    .container {
        width: 100vw;
    }
    .section6 {
        width: 100vw;
        height: 54.166666666666664vw;
        background-color: #9DC9C8;
    }
    .sec6title {
        width: 63.05555555555556vw;
        height: 4.583333333333333vw;
        font-family: Roboto Slab;
        font-size: 3.8194444444444446vw;
        font-style: normal;
        font-weight: 700;
        padding-top: 12.430555555555555vw;
        padding-left: 8.472222222222221vw;
    }
    .sec6priceName {
        height: 2.2222222222222223vw;
        width: 11.805555555555555vw;
        font-family: Roboto;
        font-size: 1.7361111111111112vw;
        font-style: normal;
        font-weight: 400;
        padding-top: 3.611111111111111vw;
        padding-left: 8.472222222222221vw;
    }
    .sec6price {
        font-family: Roboto;
        font-size: 5.555555555555555vw;
        font-style: normal;
        font-weight: 400;
        padding-top: 0.625vw;
        padding-left: 8.472222222222221vw;
        width: 33.541666666666664vw;
        height: 6.597222222222222vw;
    }
    .table {
        padding-top: 3.4027777777777777vw;
    }
    .tablehead {
        font-size: 1.7361111111111112vw;
        padding-left: 8.472222222222221vw;
        font-family: Roboto;
        display: flex;
        font-weight: 500;
    }
    .table3name1 {
        width: 20.416666666666668vw;
        height: 2.2222222222222223vw;
    }
    .table3name2 {
        width: 22.36111111111111vw;
        height: 2.2222222222222223vw;
        padding-left: 4.861111111111111vw;
    }
    .tableinfo {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25vw;
        padding-left: 8.472222222222221vw;
        display: flex;
        font-family: 400;
        padding-top: 0.625vw;
    }
    .table3about1,
    .table3about2 {
        width: 20.416666666666668vw;
        height: 4.861111111111111vw;
    }
    .table3about2 {
        padding-left: 4.861111111111111vw;
    }
    .footer {
        background-color: black;
        width: 100vw;
        height: 27.083333333333332vw;
    }
    .photowhite1 {
        width: 7.986111111111111vw;
        height: 4.722222222222222vw;
    }
    .footerPic {
        width: 7.986111111111111vw;
        height: 4.722222222222222vw;
        padding-left: 8.472222222222221vw;
        padding-top: 3.4722222222222223vw;
    }
    .socialApps img {
        width: 2.326388888888889vw;
        height: 2.326388888888889vw;
    }
    .socialApps {
        padding-top: 2.0833333333333335vw;
        padding-left: 8.472222222222221vw;
        display: flex;
        width: 34.72222222222222vw;
    }
    .facebook,
    .social3,
    .social4 {
        margin-left: 1.3888888888888888vw;
    }
    .contact-directions {
        color: white;
        font-family: Roboto;
        /* display: flex; */
        justify-content: flex-end;
        font-size: 1.7361111111111112vw;
    }
    .contactMailAdress {
        margin-left: 1.5277777777777777vw;
    }
    .rightandleft {
        display: flex;
        height: 13.194444444444445vw;
    }
    .rightside {
        padding-top: 4.097222222222222vw;
    }
    .mailwithphoto,
    .contact-numberwithphoto {
        display: flex;
    }
    .contactNumber {
        margin-left: 1.5277777777777777vw;
    }
    .contactNumPic {
        padding-bottom: 1.7361111111111112vw;
    }
    .copyright {
        color: white;
        font-family: Roboto;
        font-size: 1.25vw;
        width: 15.972222222222221vw;
        height: 2.7777777777777777vw;
        margin-top: 10.13888888888889vw;
        margin-left: 8.472222222222221vw;
    }
}