@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

@media screen and (min-width: 320px) and (max-width: 990px) {
  .body {
    display: flex;
    justify-content: center;
  }
  .article {
    display: flex;
    justify-content: center;
  }
  main {
    position: relative;
    font-family: "Roboto";
    width: 100vw;
    height: 100hv;
    margin-left: 9.067vw;
    margin-top: 14.933vw;
    background: #ffffff;
    justify-content: center;
  }
  .title {
    width: 45.355vw;
    height: 11.557vw;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 6.933vw;
    line-height: 101.38%;
    color: #000000;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
  }
  .info .info-text {
    width: 82.259vw;
    height: 46.472vw;
    margin-bottom: 15.792vw;
  }
  .info .info-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 3.2vw;
    line-height: 150%;
    color: #000000;
  }

  .img1 {
    width: 45.48vw;
    height: 42.744vw;
    margin-left: 17.333vw;
  }

  .middle {
    display: flex;
    flex-wrap: wrap;
  }

  .desktop-image {
    display: none;
  }

  .hero p:nth-child(odd) {
    font-style: normal;
    font-weight: bold;
    font-size: 3.2vw;
    line-height: 130%;
    color: #000000;
    width: 18.64vw;
    height: 4.845vw;
    padding-right: 13.333vw;
  }

  .hero p:nth-child(even) {
    font-style: normal;
    font-weight: normal;
    font-size: 2.667vw;
    line-height: 130%;
    height: 4.8vw;
    left: 9.333vw;
    color: #000000;
    padding-right: 8.888vw;
    padding-top: 0vw;
    margin-top: 0vw;
  }
  #section2 {
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8vw;
    padding-top: 19vw;
  }
  .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sec2title {
    height: 11.557vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 6.933vw;
    line-height: 101.38%;
  }
  .first-p {
    width: 26.592vw;
    height: 1.333vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 3.2vw;
    line-height: 130%;
    color: #1e4681;
    margin-top: 4.443vw;
  }
  .last-p {
    width: 44vw;
    height: 13.6vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.667vw;
    line-height: 130%;
    color: #000000;
    margin-top: 0.221vw;
  }
  .section3 {
    margin-top: 11vw;
    padding-left: 0vw;
  }
  .sec3title {
    width: 82.88vw;
    height: 11.557vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 6.933vw;
    line-height: 101.38%;
    color: #000000;
    margin-left: 8.1vw;
    padding: 0vw;
  }
  .sec3list {
    width: 85vw;
    height: 46.4vw;
    left: 11.733vw;
    top: 456vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2vw;
    line-height: 150%;
    color: #000000;
    margin-top: 2.576vw;
    margin-left: 2vw;
  }
}

@media screen and (min-width: 990px) and (max-width: 1279px) {
  .body {
    display: flex;
    justify-content: center;
  }
  .article {
    display: flex;
    justify-content: center;
  }
  main {
    position: relative;
    font-family: "Roboto";
    width: 100vw;
    height: 100hv;
    margin-left: 8.489vw;
    margin-top: 6.747vw;
    background: #ffffff;
  }

  .title {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    width: 25.47vw;
    height: 6.489vw;
    font-size: 3.855vw;
    line-height: 101.38%;
    color: #000000;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
  }

  .info .info-text {
    width: 46.194vw;
    height: 26.098vw;
  }

  .info .info-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.687vw;
    line-height: 150%;
    color: #000000;
  }

  .man {
    margin-left: 13.253vw;
    margin-top: 1.807vw;
  }
  .img1 {
    width: 21.911vw;
    height: 21.981vw;
  }

  .middle {
    display: flex;
    flex-wrap: wrap;
  }

  .hero {
    margin: 8.434vw 6.627vw 0 0;
  }

  .hero p:nth-child(odd) {
    width: 10.482vw;
    height: 2.771vw;

    margin-bottom: -1.205vw;
    font-style: normal;
    font-weight: bold;
    font-size: 1.807vw;
    line-height: 130%;

    color: #000000;
  }

  .hero p:nth-child(even) {
    width: 12.95vw;
    height: 2.771vw;
    font-style: normal;
    font-weight: normal;
    font-size: 1.325vw;
    line-height: 130%;

    color: #000000;
  }
  .desktop-image{
    display: block;
    margin-right: 9.113vw;
    margin-top: 5vw;
}
.img2{
  width: 16.112vw;
  height: 14.097vw;
}


  #section2 {
    display: flex;
    flex-wrap: wrap;
  }
  .section2 {
    margin-top: 12.458vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sec2title {
    width: 46.319vw;
    height: 6.458vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.837vw;
    line-height: 101.38%;
    color: #000000;
    margin-left: 8.403vw;
  }
  .texts {
    display: flex;
    justify-content: center;
    margin-left: 8.472vw;
  }
  .first-p {
    width: 14.861vw;
    height: 2.709vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.799vw;
    line-height: 130%;
    color: #1e4681;
  }
  .last-p {
    width: 20.624vw;
    height: 7.554vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.319vw;
    line-height: 130%;
    color: #000000;
  }

  .section3 {
    margin-top: 10vw;
    margin-left: 8.489vw;
  }
  .sec3title {
    width: 46.319vw;
    height: 6.458vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.837vw;
    line-height: 101.38%;
    color: #000000;
  }
  .sec3list {
    width: 45.972vw;
    height: 25.972vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.679vw;
    line-height: 150%;
    color: #000000;
  }
  .text-cen{
      width: 27vw;
  }
}

@media screen and (min-width: 1279px) {
  .article {
    display: flex;
    justify-content: center;
  }
  main {
    position: relative;
    font-family: "Roboto";
    width: 100vw;
    height: 100hv;
    margin-left: 8.857vw;
    margin-top: 6.5vw;
    background: #ffffff;
  }
  .title {
    width: 26.071vw;
    height: 6.643vw;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 3.929vw;
    line-height: 101.38%;

    color: #000000;
  }
  .info {
    display: flex;
  }
  .info .info-text {
    width: 47.286vw;
    height: 26.714vw;
  }

  .info .info-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.714vw;
    line-height: 150%;
    color: #000000;
  }

  .man {
    margin-left: 11.714vw;
    margin-top: 1.786vw;
  }
  .img1 {
    width: 26.143vw;
    height: 24.571vw;
  }

  .middle {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6.714vw;
  }

  .hero {
    margin: 5vw 6.786vw 0 0;
  }

  .hero p:nth-child(odd) {
    width: 10.714vw;
    height: 2.786vw;

    margin-bottom: -0.714vw;
    font-style: normal;
    font-weight: bold;
    font-size: 1.786vw;
    line-height: 130%;
    color: #000000;
  }

  .hero p:nth-child(even) {
    width: 10.714vw;
    height: 2.786vw;
    font-style: normal;
    font-weight: normal;
    font-size: 1.286vw;
    line-height: 130%;
    color: #000000;
  }

  .desktop-image{
    display: block;
    margin-right: 9.167vw;
}
.img2{
  width: 16.111vw;
  height: 14.097vw;
}

  #section2 {
    display: flex;
    flex-wrap: wrap;
  }
  .section2 {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8.403vw;
  }
  .sec2title {
    width: 46.319vw;
    height: 6.458vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.819vw;
    line-height: 101.38%;
    color: #000000;
  }
  .texts {
    display: flex;
    justify-content: center;
    margin-left: 0.139vw;
  }
  .first-p {
    width: 14.583vw;
    height: 2.708vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.736vw;
    line-height: 130%;
    color: #1E4681;
  }
  .last-p {
    width: 20.819vw;
    height: 7.569vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 130%;
    color: #000000; 
  }

  .section3 {
    margin-top: 5.792vw;
    margin-left: 8.403vw;
  }
  .sec3title {
    width: 46.319vw;
    height: 6.458vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.819vw;
    line-height: 101.38%;
    color: #000000;    
  }
  .sec3list {
    width: 45.972vw;
    height: 25.972vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 150%;
    color: #000000;
  }
  .text-cen{
      width: 25.5vw;
  }
}